<!DOCTYPE html>
<html ng-app="ytApp">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" type="text/css" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body ng-controller="AppController">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" >
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Start Bootstrap</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#/">Home</a>
                    </li>
                    <li ng-if="isAuth()" class="hideLogout" ng-init="showhide('hideLogout')">
                        <a href="#/profile/{{ '{{isAuth()}}'}}" class="myprofile">Profile</a>
                    </li>
                    <li ng-if="!isAuth()" class="hideLogin" ng-init="showhide('hideLogin')">
                    <a href="#/login">
                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Login
                    </a>
                  </li>
                  <li ng-if="isAuth()" class="hideLogout" ng-init="showhide('hideLogout')">
                      <a href="logout" ng-click="Logout();">
                          <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout
                      </a>
                  </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
      <!-- Modal -->
  <div class="modal fade" id="lgModal" role="dialog">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" ng-click="lgModal($event);" class="btn btn-default">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
   <div class="modal fade" id="smModal" role="dialog">
    <div class="modal-dialog modal-sm">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <p></p>
        </div>
        <div class="modal-footer">
          <button type="button" ng-click="smModal($event);" class="btn btn-default">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
        <div class="container">
          <div data-loading> </div>
<div ng-view></div>
        {% block body %}{% endblock %}
        </div>
            <div id="player">
                   <div class="row">
                	<div class="col-md-12">
                	       <div id="myElement">

                	       </div>
            	   </div>
        	   </div>
            </div>
    <div class="modal fade" id="nowPlayingModal" role="dialog">
        <div class="modal-dialog modal-lg">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Now Playing</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div id="now-playing-songs" class="col-md-12">

                    </div>
                </div>
            </div>
            <div class="modal-footer" style="text-align:center !important;">
              <button type="button" onclick="prev()" class="btn btn-default glyphicon glyphicon-backward"></button>
              {#<button type="button" onclick="pp()" class="btn btn-success glyphicon glyphicon-pause"></button>#}
              <button type="button" onclick="next()" class="btn btn-default glyphicon glyphicon-forward"></button>
            </div>
          </div>

        </div>
  </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <script type="text/javascript" src="https://content.jwplatform.com/libraries/Svy3pk2H.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-route.min.js"></script>
        <script src="{{ asset('app/app.js') }}"></script>
        <script src="{{ asset('app/controllers/controllers.js') }}"></script>
        <script src="{{ asset('app/services/customersService.js') }}"></script>
        <script src="{{ asset('app/directives/spinner.js')}}"></script>
        <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
    </body>
</html>
