<div ng-show="index">
<button type="button" class="btn btn-success" id="btn-play-playlist" ng-click="playNewest();"><span class="glyphicon glyphicon-play"></span> Play</button>
<div id="origin">

</div>
</div>