
<div class="container">
  <div class="info">
    <h1>Login Form</h1>
  </div>
</div>
<div ng-repeat="(key,val) in flash" class="alert alert-{{key}}" ng-cloak>
    {{val}}
</div>
<div class="form">
  <form action="" method="POST" class="login-form">
    <input type="text" name="_username" placeholder="username" id="username"/>
    <input type="password" name="_password" placeholder="password" id="password" />
    <button type="submit" ng-click="Login(); $event.preventDefault()">Login</button>
  </form>
</div>
