<div ng-show="showdata" class="hide-div">
<p>Add new playlist
<button type="button" class="btn btn-primary" ng-click="newPlaylist()" id="newPlaylist" data-toggle="modal" data-target="#smModal"><span class="glyphicon glyphicon-plus"></span></button>
 </p><br/>
<div class="container" id="playlist-div">
    <div class="row">
        <div ng-repeat="x in userPlaylist" class="col-md-4">
            <a href="" ng-click="openPlayist($event);" data-pid="{{ x.id }}" title="{{ x.name }}"><img src="https://i.ytimg.com/vi/{{ x.songs[0].videoId}}/mqdefault.jpg"><br><span>{{x.name}}</span></a>
        </div>
    </div>
</div>
</div>
