<div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="Search">Search:</label>
                <input type="text" class="form-control" id="search">
            </div>
            <div id="search-res" class="list-group" style='overflow:scroll;max-height: 345px;display:none;'></div>
            <script type="text/javascript" src="{{asset('js/search.js')}}"></script>  
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#lgModal">Open Modal</button>
        </div>
    	<div id="origin" class="col-md-12">

    		<div class="col-md-4 text-center"><a href="javascript:playTrailer('http://www.youtube.com/watch?v=XhohLI1Rupc','7267','Maduk - Got Me Thinking (ft. Veela)')" data-href="http://www.youtube.com/watch?v=XhohLI1Rupc"><img src="https://i.ytimg.com/vi/XhohLI1Rupc/mqdefault.jpg"><br>Maduk - Got Me Thinking (ft. Veela)</a></div>
    		<div class="col-md-4 text-center"><a href="javascript:playTrailer('https://www.youtube.com/watch?v=fX5USg8_1gA','7267','Maduk - Got Me Thinking (ft. Veela)')" data-href="https://www.youtube.com/watch?v=fX5USg8_1gA"><img src="https://i.ytimg.com/vi/XhohLI1Rupc/mqdefault.jpg"><br>Maduk - Got Me Thinking (ft. Veela)</a></div>
    	</div>
</div>
<script type="text/javascript" src="{{asset('js/sort.js')}}"></script>  