{% extends 'base.html.twig' %}
{% block title %}Login Form{% endblock %}
{% block body %}
<div class="container">
  <div class="info">
    <h1>Login Form</h1>
  </div>
{% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
</div>
<div class="form">
  <form action="{{ path('login') }}" method="POST" class="login-form">
    <input type="text" name="_username" placeholder="username" id="username" value="{{ last_username }}"/>
    <input type="password" name="_password" placeholder="password" id="password" />
    <button type="submit" id="login">Login</button>
  </form>
</div>
{% endblock %}
{% block javascripts %}
<script>
$("#login").click(function(e){
  e.preventDefault();
    var username = $("#username").val();
    var password = $("#password").val();
    $.ajax({
            url:'login',
            method:'POST',
            data:{_username:username,_password:password}
    });
})
  
</script>
{% endblock %} 
