{% extends 'base.html.twig' %}
{% block title %}Register{% endblock %}
{% block body %}
{{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.password.first) }}
    {{ form_row(form.password.second) }}
    {{ form_row(form.email) }}

    <button type="submit">Register!</button>
{{ form_end(form) }}
{% endblock %}
{% block javascripts %}
{% endblock %} 
