{% extends 'userbase.html.twig' %}
{% block title %}Login Form{% endblock %}
{% block body %}
<div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="Search">Search:</label>
                <input type="text" class="form-control" id="search">
                <div id="search-res" class="list-group" style='overflow:scroll;max-height: 345px;display:none;'>
                    
                </div>
            </div>
        </div>
    	<div id="origin" class="col-md-12">

    		<div class="col-md-4 text-center"><a href="javascript:playTrailer('http://www.youtube.com/watch?v=XhohLI1Rupc','7267','Maduk - Got Me Thinking (ft. Veela)')" data-href="http://www.youtube.com/watch?v=XhohLI1Rupc"><img src="https://i.ytimg.com/vi/XhohLI1Rupc/mqdefault.jpg"><br>Maduk - Got Me Thinking (ft. Veela)</a></div>
    		<div class="col-md-4 text-center"><a href="javascript:playTrailer('https://www.youtube.com/watch?v=fX5USg8_1gA','7267','Maduk - Got Me Thinking (ft. Veela)')" data-href="https://www.youtube.com/watch?v=fX5USg8_1gA"><img src="https://i.ytimg.com/vi/XhohLI1Rupc/mqdefault.jpg"><br>Maduk - Got Me Thinking (ft. Veela)</a></div>
    	</div>
{% endblock %}
{% block stylesheets %}
{% endblock %} 
