.testfornowmaybewillneeditlater {
  position: relative;
  border: 1px solid #ddd;
  background: #fff;
  margin: 0 0 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  min-height:120px;
}
.pull-left-title {
  float:left;
}
#playlist-div img {
  background: url('http://1.bp.blogspot.com/-huAdSltKNY0/UcfD4hTxBxI/AAAAAAAAARc/muuOB5pISaA/s1600/empty_box.jpg') no-repeat;
  width:320px;
  height:180px;
}
.button-span-def{
    color:white;
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 9999;
}
.position-pencil {
  margin-left:5px;
  padding-top:4px;
}
.hideLogin{
  display:none !important;
}
.hideLogout{
  display:none !important;
}
.control-bar{
  display: inline-block;
  height: 2em;
  position: relative;
  line-height: 2em;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none
}
.button-span-def{
  position: absolute;
  display:block;
  top:45%;
  left:51%;
  transform:translate(-50%, -50%);
  right:0px;
  z-index:100;
  font-size:5em;
}
#myElement{
  width:100% !important;
}
div.now-playing {
  white-space:no-wrap;
  overflow:hidden;
  width:15%;
}
#player{
  display:none;
  position:fixed;
  bottom:0px;
  left:0px;
  right:0px;
  height:30px;
  margin-bottom:50px;
  height: 45px;
  background: black;
}
#player .row {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
body
{
  padding-top: 70px;
  margin-bottom:30px;
}
div.now-playing > div.now-playing-text {
  white-space:nowrap;
  display:inline;
  width:auto;
  color:white;
}
.my-custom-player-button {
  display:none;
}
@media (max-width:641px) {
    .now-playing{
display:none;
    }
    .jw-slider-time{
width:100%;
    }
}
@media (min-width: 1200px) {
  .modal-lg {
    width: 1200px;
  }
  .modal-sm {
    width: 500px;
  }
}